server:
  port: 8080

custom:
  password_format: 1

spring:
  application:
    name: usersbackend
  main:
    lazy-initialization: false
  jackson:
    serialization:
      write-dates-as-timestamps: false

  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:usersdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: false
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enabled: true
    baseline-version: 0
    baseline-on-migrate: true
    validate-on-migrate: true
    locations: classpath:db/migration

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  api-docs:
    enabled: true
    path: /v3/api-docs


management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    org:
      flywaydb: DEBUG
      hibernate:
        SQL: DEBUG
      springframework:
        jdbc:
          core: DEBUG